In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Final_data_save.csv")

In [ ]:
df.head()

,Country,Education Level,Primary Job Title,Years of Experience,YearsCoding,CompanySize,Salary
0,United Kingdom,Bachelor's Degree,Full-stack developer,19.0,30.0,10000.0,70841.0
1,South Africa,"Some College, No Degree",QA or test developer,1.0,7.0,10000.0,21426.0
2,United Kingdom,Bachelor's Degree,Back-end developer,4.0,7.0,15.0,41671.0
3,United States,"Some College, No Degree",Back-end developer,1.0,10.0,10000.0,120000.0
4,United States,"Some College, No Degree","C-suite executive (CEO, CTO, etc.)",22.0,30.0,300.0,250000.0

In [ ]:
df.columns

Index(['Country', 'Education Level', 'Primary Job Title',
       'Years of Experience', 'YearsCoding', 'CompanySize', 'Salary'],
      dtype='object')

In [ ]:
df['Country']=df['Country'].str.lower()
df['Education Level']=df['Education Level'].str.lower()
df['Primary Job Title']=df['Primary Job Title'].str.lower()

In [ ]:
df.head()

,Country,Education Level,Primary Job Title,Years of Experience,YearsCoding,CompanySize,Salary
0,united kingdom,bachelor's degree,full-stack developer,19.0,30.0,10000.0,70841.0
1,south africa,"some college, no degree",qa or test developer,1.0,7.0,10000.0,21426.0
2,united kingdom,bachelor's degree,back-end developer,4.0,7.0,15.0,41671.0
3,united states,"some college, no degree",back-end developer,1.0,10.0,10000.0,120000.0
4,united states,"some college, no degree","c-suite executive (ceo, cto, etc.)",22.0,30.0,300.0,250000.0

In [ ]:
Eduencoder = LabelEncoder()
df['Education Level'] = Eduencoder.fit_transform(df['Education Level'])

Countryencoder = LabelEncoder()
df['Country'] = Countryencoder.fit_transform(df['Country'])

In [ ]:
df['Primary Job Title'].unique()

array(['full-stack developer', 'qa or test developer',
       'back-end developer', 'c-suite executive (ceo, cto, etc.)',
       'mobile developer', 'front-end developer', 'engineering manager',
       'data scientist or machine learning specialist',
       'embedded applications or devices developer', 'product manager',
       'desktop or enterprise applications developer', 'designer',
       'system administrator', 'database administrator',
       'data or business analyst', 'devops specialist',
       'game or graphics developer', 'educator or academic researcher',
       'student', 'marketing or sales professional'], dtype=object)

In [ ]:
job_title_dfs = {}
val = df['Primary Job Title'].unique()
# Looping through each unique primary job title
for job_title in val:
    job_title_dfs[job_title] = df[df['Primary Job Title'] == job_title]
    print(f"DataFrame for '{job_title}':")
    print(job_title_dfs[job_title].head())

DataFrame for 'full-stack developer':
    Country  Education Level     Primary Job Title  Years of Experience  \
0       141                1  full-stack developer                 19.0
7         6                1  full-stack developer                 13.0
11       49                4  full-stack developer                 10.0
16      143                1  full-stack developer                  4.0
19      109                8  full-stack developer                 25.0

    YearsCoding  CompanySize   Salary
0          30.0      10000.0  70841.0
7          16.0       3000.0  95968.0
11         10.0         60.0  51408.0
16          4.0       3000.0  60000.0
19         25.0       3000.0  21228.0
DataFrame for 'qa or test developer':
     Country  Education Level     Primary Job Title  Years of Experience  \
1        119                8  qa or test developer                  1.0
43       108                4  qa or test developer                  1.0
93        27                1  qa or test developer                  4.0
118       55                1  qa or test developer                 13.0
140      143                8  qa or test developer                  1.0

     YearsCoding  CompanySize     Salary
1            7.0      10000.0    21426.0
43           1.0      10000.0    26436.0
93           7.0         60.0    11808.0
118         16.0      10000.0    46963.0
140          4.0        300.0  2000000.0
DataFrame for 'back-end developer':
   Country  Education Level   Primary Job Title  Years of Experience  \
2      141                1  back-end developer                  4.0
3      143                8  back-end developer                  1.0
5       91                3  back-end developer                  1.0
6      126                4  back-end developer                  1.0
8      141                1  back-end developer                  7.0

   YearsCoding  CompanySize    Salary
2          7.0         15.0   41671.0
3         10.0      10000.0  120000.0
5          1.0         60.0       0.0
6          7.0         15.0   47904.0
8         10.0         60.0     420.0
DataFrame for 'c-suite executive (ceo, cto, etc.)':
     Country  Education Level                   Primary Job Title  \
4        143                8  c-suite executive (ceo, cto, etc.)
81        44                7  c-suite executive (ceo, cto, etc.)
101      141                1  c-suite executive (ceo, cto, etc.)
102       47                1  c-suite executive (ceo, cto, etc.)
149      141                4  c-suite executive (ceo, cto, etc.)

     Years of Experience  YearsCoding  CompanySize    Salary
4                   22.0         30.0        300.0  250000.0
81                   7.0         10.0          5.0   42836.0
101                  7.0         13.0          5.0   90288.0
102                 16.0         16.0         60.0  122388.0
149                 16.0         19.0         60.0   83342.0
DataFrame for 'mobile developer':
     Country  Education Level Primary Job Title  Years of Experience  \
10        55                4  mobile developer                  4.0
56        55                4  mobile developer                  4.0
67        55                1  mobile developer                  7.0
77       143                0  mobile developer                  4.0
107      139                4  mobile developer                  1.0

     YearsCoding  CompanySize    Salary
10           4.0        300.0   10958.0
56           4.0       3000.0    9768.0
67          10.0       3000.0   27708.0
77           7.0          5.0  105000.0
107          4.0         60.0   10440.0
DataFrame for 'front-end developer':
    Country  Education Level    Primary Job Title  Years of Experience  \
12      126                4  front-end developer                 13.0
18       55                8  front-end developer                  1.0
39      143                1  front-end developer                  4.0
46      143                1  front-end developer                  7.0
52      141                3  front-end developer                  4.0

    YearsCoding  CompanySize    Salary
12         13.0       3000.0   72611.0
18          1.0         60.0  123984.0
39         10.0        300.0   78000.0
46          7.0         60.0  141625.0
52          4.0        300.0   63896.0
DataFrame for 'engineering manager':
     Country  Education Level    Primary Job Title  Years of Experience  \
14       103                8  engineering manager                  4.0
37        44                4  engineering manager                 10.0
44        55                4  engineering manager                  7.0
108      116                4  engineering manager                  7.0
110       55                1  engineering manager                  4.0

     YearsCoding  CompanySize   Salary
14           4.0         60.0  30000.0
37          16.0      10000.0  52627.0
44           7.0        750.0  34440.0
108         13.0         60.0  46992.0
110          4.0         60.0  26612.0
DataFrame for 'data scientist or machine learning specialist':
    Country  Education Level                              Primary Job Title  \
29      143                4  data scientist or machine learning specialist
40      143                8  data scientist or machine learning specialist
59       61                1  data scientist or machine learning specialist
62      103                4  data scientist or machine learning specialist
66      126                4  data scientist or machine learning specialist

    Years of Experience  YearsCoding  CompanySize    Salary
29                  7.0         13.0      10000.0  120000.0
40                  1.0          7.0         60.0  120000.0
59                 10.0         10.0        300.0   30597.0
62                  4.0          4.0         60.0   42348.0
66                  4.0          7.0         15.0   55392.0
DataFrame for 'embedded applications or devices developer':
     Country  Education Level                           Primary Job Title  \
49        55                4  embedded applications or devices developer
71         6                1  embedded applications or devices developer
104       47                3  embedded applications or devices developer
142       61                4  embedded applications or devices developer
237       91                1  embedded applications or devices developer

     Years of Experience  YearsCoding  CompanySize   Salary
49                   1.0          4.0          5.0   4696.0
71                   7.0         16.0         60.0  91969.0
104                  4.0         10.0         60.0  11748.0
142                 10.0         13.0        750.0  44060.0
237                  4.0         10.0         15.0  51408.0
DataFrame for 'product manager':
     Country  Education Level Primary Job Title  Years of Experience  \
72        57                4   product manager                  4.0
73        44                1   product manager                  1.0
82        56                8   product manager                 10.0
103      119                8   product manager                  4.0
186      143                8   product manager                 19.0

     YearsCoding  CompanySize    Salary
72           4.0         15.0    9984.0
73           7.0         60.0   55075.0
82          10.0         60.0   29532.0
103          7.0        300.0   37084.0
186         19.0        750.0  110000.0
DataFrame for 'desktop or enterprise applications developer':
     Country  Education Level                             Primary Job Title  \
95       141                1  desktop or enterprise applications developer
160       44                7  desktop or enterprise applications developer
251      141                1  desktop or enterprise applications developer
371       44                4  desktop or enterprise applications developer
449       47                3  desktop or enterprise applications developer

     Years of Experience  YearsCoding  CompanySize    Salary
95                   7.0         10.0         60.0   62507.0
160                  4.0          4.0      10000.0   37940.0
251                 22.0         22.0          5.0  106956.0
371                  4.0          7.0      10000.0   52321.0
449                  1.0          1.0          5.0    6612.0
DataFrame for 'designer':
      Country  Education Level Primary Job Title  Years of Experience  \
121        49                2          designer                 10.0
247        55                1          designer                  4.0
577       141                1          designer                 30.0
1658      143                4          designer                  1.0
1738       47                3          designer                  1.0

      YearsCoding  CompanySize    Salary
121          10.0       3000.0  440592.0
247           4.0         15.0    5479.0
577          30.0         60.0   76397.0
1658          4.0         60.0   48000.0
1738          7.0         60.0   24478.0
DataFrame for 'system administrator':
     Country  Education Level     Primary Job Title  Years of Experience  \
136      141                1  system administrator                  1.0
158      143                4  system administrator                 22.0
191      143                1  system administrator                  4.0
240      143                1  system administrator                  7.0
415      121                4  system administrator                  1.0

     YearsCoding  CompanySize   Salary
136         10.0         60.0  47227.0
158         30.0        300.0  70000.0
191         10.0        300.0  90000.0
240         13.0       3000.0  55000.0
415          4.0        300.0  22030.0
DataFrame for 'database administrator':
     Country  Education Level       Primary Job Title  Years of Experience  \
143      143                4  database administrator                  7.0
339       14                1  database administrator                  4.0
485       83                8  database administrator                  4.0
549      141                1  database administrator                  4.0
628      143                1  database administrator                  4.0

     YearsCoding  CompanySize    Salary
143         10.0      10000.0  140000.0
339          7.0         60.0   30840.0
485          7.0         15.0    4128.0
549          4.0      10000.0   45838.0
628          4.0        300.0   54000.0
DataFrame for 'data or business analyst':
      Country  Education Level         Primary Job Title  Years of Experience  \
338       143                8  data or business analyst                  1.0
442        44                4  data or business analyst                  4.0
492       143                1  data or business analyst                  1.0
705       143                1  data or business analyst                  1.0
1515      127                4  data or business analyst                  4.0

      YearsCoding  CompanySize   Salary
338           1.0         15.0  30000.0
442           7.0       3000.0  40388.0
492           1.0        300.0  52000.0
705           1.0        750.0  65000.0
1515          7.0        300.0  67775.0
DataFrame for 'devops specialist':
     Country  Education Level  Primary Job Title  Years of Experience  \
376      141                1  devops specialist                  7.0
378      141                1  devops specialist                  1.0
379      143                4  devops specialist                  4.0
423      127                1  devops specialist                 16.0
440      143                1  devops specialist                 22.0

     YearsCoding  CompanySize    Salary
376         16.0        300.0   79175.0
378          1.0       3000.0   47922.0
379          4.0        300.0  120000.0
423         16.0        750.0   99056.0
440         25.0         60.0  132000.0
DataFrame for 'game or graphics developer':
      Country  Education Level           Primary Job Title  \
620       143                1  game or graphics developer
824       141                1  game or graphics developer
1726      136                1  game or graphics developer
1995       47                1  game or graphics developer
2200      143                4  game or graphics developer

      Years of Experience  YearsCoding  CompanySize     Salary
620                   4.0         10.0        300.0  1050000.0
824                   1.0          7.0         60.0    26392.0
1726                  1.0          7.0         60.0    12396.0
1995                  1.0          1.0        300.0    17628.0
2200                  1.0          7.0         15.0    65000.0
DataFrame for 'educator or academic researcher':
      Country  Education Level                Primary Job Title  \
1700        7                2  educator or academic researcher
2005      141                2  educator or academic researcher
2006       47                2  educator or academic researcher
2309      143                1  educator or academic researcher
3341      109                4  educator or academic researcher

      Years of Experience  YearsCoding  CompanySize    Salary
1700                 19.0         30.0       7500.0   79552.0
2005                  7.0         16.0         60.0  600060.0
2006                  7.0         10.0       3000.0   58746.0
2309                  4.0         13.0      10000.0   14400.0
3341                  4.0         13.0       3000.0   31848.0
DataFrame for 'student':
       Country  Education Level Primary Job Title  Years of Experience  \
2380       127                1           student                  1.0
3527        55                1           student                  1.0
6251       109                1           student                  1.0
13262       24                8           student                  1.0
13535       47                8           student                  4.0

       YearsCoding  CompanySize   Salary
2380           1.0         15.0  10632.0
3527           4.0       7500.0  12524.0
6251           4.0        750.0  11892.0
13262         10.0        300.0  36000.0
13535         10.0        750.0   5880.0
DataFrame for 'marketing or sales professional':
       Country  Education Level                Primary Job Title  \
14988      143                1  marketing or sales professional

       Years of Experience  YearsCoding  CompanySize    Salary
14988                 10.0         10.0        750.0  130000.0

In [ ]:
job_title_dfs.keys()
print(job_title_dfs['full-stack developer'].head() )
print(job_title_dfs['front-end developer'].head())

    Country  Education Level     Primary Job Title  Years of Experience  \
0       141                1  full-stack developer                 19.0
7         6                1  full-stack developer                 13.0
11       49                4  full-stack developer                 10.0
16      143                1  full-stack developer                  4.0
19      109                8  full-stack developer                 25.0

    YearsCoding  CompanySize   Salary
0          30.0      10000.0  70841.0
7          16.0       3000.0  95968.0
11         10.0         60.0  51408.0
16          4.0       3000.0  60000.0
19         25.0       3000.0  21228.0
    Country  Education Level    Primary Job Title  Years of Experience  \
12      126                4  front-end developer                 13.0
18       55                8  front-end developer                  1.0
39      143                1  front-end developer                  4.0
46      143                1  front-end developer                  7.0
52      141                3  front-end developer                  4.0

    YearsCoding  CompanySize    Salary
12         13.0       3000.0   72611.0
18          1.0         60.0  123984.0
39         10.0        300.0   78000.0
46          7.0         60.0  141625.0
52          4.0        300.0   63896.0

In [ ]:

for i in job_title_dfs.keys():
  job_title_dfs[i]=df.drop('Primary Job Title',axis = 1)
  print(job_title_dfs[i].head())

   Country  Education Level  Years of Experience  YearsCoding  CompanySize  \
0      141                1                 19.0         30.0      10000.0
1      119                8                  1.0          7.0      10000.0
2      141                1                  4.0          7.0         15.0
3      143                8                  1.0         10.0      10000.0
4      143                8                 22.0         30.0        300.0

     Salary
0   70841.0
1   21426.0
2   41671.0
3  120000.0
4  250000.0
   Country  Education Level  Years of Experience  YearsCoding  CompanySize  \
0      141                1                 19.0         30.0      10000.0
1      119                8                  1.0          7.0      10000.0
2      141                1                  4.0          7.0         15.0
3      143                8                  1.0         10.0      10000.0
4      143                8                 22.0         30.0        300.0

     Salary
0   70841.0
1   21426.0
2   41671.0
3  120000.0
4  250000.0
   Country  Education Level  Years of Experience  YearsCoding  CompanySize  \
0      141                1                 19.0         30.0      10000.0
1      119                8                  1.0          7.0      10000.0
2      141                1                  4.0          7.0         15.0
3      143                8                  1.0         10.0      10000.0
4      143                8                 22.0         30.0        300.0

     Salary
0   70841.0
1   21426.0
2   41671.0
3  120000.0
4  250000.0
   Country  Education Level  Years of Experience  YearsCoding  CompanySize  \
0      141                1                 19.0         30.0      10000.0
1      119                8                  1.0          7.0      10000.0
2      141                1                  4.0          7.0         15.0
3      143                8                  1.0         10.0      10000.0
4      143                8                 22.0         30.0        300.0

     Salary
0   70841.0
1   21426.0
2   41671.0
3  120000.0
4  250000.0
   Country  Education Level  Years of Experience  YearsCoding  CompanySize  \
0      141                1                 19.0         30.0      10000.0
1      119                8                  1.0          7.0      10000.0
2      141                1                  4.0          7.0         15.0
3      143                8                  1.0         10.0      10000.0
4      143                8                 22.0         30.0        300.0

     Salary
0   70841.0
1   21426.0
2   41671.0
3  120000.0
4  250000.0
   Country  Education Level  Years of Experience  YearsCoding  CompanySize  \
0      141                1                 19.0         30.0      10000.0
1      119                8                  1.0          7.0      10000.0
2      141                1                  4.0          7.0         15.0
3      143                8                  1.0         10.0      10000.0
4      143                8                 22.0         30.0        300.0

     Salary
0   70841.0
1   21426.0
2   41671.0
3  120000.0
4  250000.0
   Country  Education Level  Years of Experience  YearsCoding  CompanySize  \
0      141                1                 19.0         30.0      10000.0
1      119                8                  1.0          7.0      10000.0
2      141                1                  4.0          7.0         15.0
3      143                8                  1.0         10.0      10000.0
4      143                8                 22.0         30.0        300.0

     Salary
0   70841.0
1   21426.0
2   41671.0
3  120000.0
4  250000.0
   Country  Education Level  Years of Experience  YearsCoding  CompanySize  \
0      141                1                 19.0         30.0      10000.0
1      119                8                  1.0          7.0      10000.0
2      141                1                  4.0          7.0         15.0
3      143                8                  1.0         10.0      10000.0
4      143                8                 22.0         30.0        300.0

     Salary
0   70841.0
1   21426.0
2   41671.0
3  120000.0
4  250000.0
   Country  Education Level  Years of Experience  YearsCoding  CompanySize  \
0      141                1                 19.0         30.0      10000.0
1      119                8                  1.0          7.0      10000.0
2      141                1                  4.0          7.0         15.0
3      143                8                  1.0         10.0      10000.0
4      143                8                 22.0         30.0        300.0

     Salary
0   70841.0
1   21426.0
2   41671.0
3  120000.0
4  250000.0
   Country  Education Level  Years of Experience  YearsCoding  CompanySize  \
0      141                1                 19.0         30.0      10000.0
1      119                8                  1.0          7.0      10000.0
2      141                1                  4.0          7.0         15.0
3      143                8                  1.0         10.0      10000.0
4      143                8                 22.0         30.0        300.0

     Salary
0   70841.0
1   21426.0
2   41671.0
3  120000.0
4  250000.0
   Country  Education Level  Years of Experience  YearsCoding  CompanySize  \
0      141                1                 19.0         30.0      10000.0
1      119                8                  1.0          7.0      10000.0
2      141                1                  4.0          7.0         15.0
3      143                8                  1.0         10.0      10000.0
4      143                8                 22.0         30.0        300.0

     Salary
0   70841.0
1   21426.0
2   41671.0
3  120000.0
4  250000.0
   Country  Education Level  Years of Experience  YearsCoding  CompanySize  \
0      141                1                 19.0         30.0      10000.0
1      119                8                  1.0          7.0      10000.0
2      141                1                  4.0          7.0         15.0
3      143                8                  1.0         10.0      10000.0
4      143                8                 22.0         30.0        300.0

     Salary
0   70841.0
1   21426.0
2   41671.0
3  120000.0
4  250000.0
   Country  Education Level  Years of Experience  YearsCoding  CompanySize  \
0      141                1                 19.0         30.0      10000.0
1      119                8                  1.0          7.0      10000.0
2      141                1                  4.0          7.0         15.0
3      143                8                  1.0         10.0      10000.0
4      143                8                 22.0         30.0        300.0

     Salary
0   70841.0
1   21426.0
2   41671.0
3  120000.0
4  250000.0
   Country  Education Level  Years of Experience  YearsCoding  CompanySize  \
0      141                1                 19.0         30.0      10000.0
1      119                8                  1.0          7.0      10000.0
2      141                1                  4.0          7.0         15.0
3      143                8                  1.0         10.0      10000.0
4      143                8                 22.0         30.0        300.0

     Salary
0   70841.0
1   21426.0
2   41671.0
3  120000.0
4  250000.0
   Country  Education Level  Years of Experience  YearsCoding  CompanySize  \
0      141                1                 19.0         30.0      10000.0
1      119                8                  1.0          7.0      10000.0
2      141                1                  4.0          7.0         15.0
3      143                8                  1.0         10.0      10000.0
4      143                8                 22.0         30.0        300.0

     Salary
0   70841.0
1   21426.0
2   41671.0
3  120000.0
4  250000.0
   Country  Education Level  Years of Experience  YearsCoding  CompanySize  \
0      141                1                 19.0         30.0      10000.0
1      119                8                  1.0          7.0      10000.0
2      141                1                  4.0          7.0         15.0
3      143                8                  1.0         10.0      10000.0
4      143                8                 22.0         30.0        300.0

     Salary
0   70841.0
1   21426.0
2   41671.0
3  120000.0
4  250000.0
   Country  Education Level  Years of Experience  YearsCoding  CompanySize  \
0      141                1                 19.0         30.0      10000.0
1      119                8                  1.0          7.0      10000.0
2      141                1                  4.0          7.0         15.0
3      143                8                  1.0         10.0      10000.0
4      143                8                 22.0         30.0        300.0

     Salary
0   70841.0
1   21426.0
2   41671.0
3  120000.0
4  250000.0
   Country  Education Level  Years of Experience  YearsCoding  CompanySize  \
0      141                1                 19.0         30.0      10000.0
1      119                8                  1.0          7.0      10000.0
2      141                1                  4.0          7.0         15.0
3      143                8                  1.0         10.0      10000.0
4      143                8                 22.0         30.0        300.0

     Salary
0   70841.0
1   21426.0
2   41671.0
3  120000.0
4  250000.0
   Country  Education Level  Years of Experience  YearsCoding  CompanySize  \
0      141                1                 19.0         30.0      10000.0
1      119                8                  1.0          7.0      10000.0
2      141                1                  4.0          7.0         15.0
3      143                8                  1.0         10.0      10000.0
4      143                8                 22.0         30.0        300.0

     Salary
0   70841.0
1   21426.0
2   41671.0
3  120000.0
4  250000.0
   Country  Education Level  Years of Experience  YearsCoding  CompanySize  \
0      141                1                 19.0         30.0      10000.0
1      119                8                  1.0          7.0      10000.0
2      141                1                  4.0          7.0         15.0
3      143                8                  1.0         10.0      10000.0
4      143                8                 22.0         30.0        300.0

     Salary
0   70841.0
1   21426.0
2   41671.0
3  120000.0
4  250000.0

In [ ]:
job_title_dfs['full-stack developer']

,Country,Education Level,Primary Job Title,Years of Experience,YearsCoding,CompanySize,Salary
0,141,1,full-stack developer,19.0,30.0,10000.0,70841.0
7,6,1,full-stack developer,13.0,16.0,3000.0,95968.0
11,49,4,full-stack developer,10.0,10.0,60.0,51408.0
16,143,1,full-stack developer,4.0,4.0,3000.0,60000.0
19,109,8,full-stack developer,25.0,25.0,3000.0,21228.0
...,...,...,...,...,...,...,...
39797,143,4,full-stack developer,7.0,7.0,10000.0,120000.0
39813,61,1,full-stack developer,13.0,16.0,60.0,73428.0
39820,47,3,full-stack developer,4.0,4.0,60.0,61194.0
39830,103,8,full-stack developer,1.0,7.0,300.0,20112.0
39838,143,4,full-stack developer,13.0,16.0,10000.0,107500.0

In [ ]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import make_pipeline
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

for i,j in job_title_dfs.items():
  x=j.drop(columns= ['Salary','Primary Job Title','YearsCoding','CompanySize'],axis=1)
  print(j.head())
  y=j['Salary']
  if len(y)<=2:
    continue
  x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.15, random_state=42)
  degree = 2  # You can change the degree to fit your needs
  polynomial_features = PolynomialFeatures(degree=degree)

  model = make_pipeline(polynomial_features, LinearRegression())

  model.fit(x_train, y_train)

  y_pred = model.predict(x_test)

  mse = mean_squared_error(y_test, y_pred)
  r2 = r2_score(y_test, y_pred)
  # Calculate Mean Absolute Error (MAE)
  mae = mean_absolute_error(y_test, y_pred)
  print("regression for ",i)
  print(f"Mean Squared Error: {mse:.2f}")
  print(f"R-squared: {r2:.2f}")
  print(f"Mean Absolute Error (MAE): {mae:.2f}")

    Country  Education Level     Primary Job Title  Years of Experience  \
0       141                1  full-stack developer                 19.0
7         6                1  full-stack developer                 13.0
11       49                4  full-stack developer                 10.0
16      143                1  full-stack developer                  4.0
19      109                8  full-stack developer                 25.0

    YearsCoding  CompanySize   Salary
0          30.0      10000.0  70841.0
7          16.0       3000.0  95968.0
11         10.0         60.0  51408.0
16          4.0       3000.0  60000.0
19         25.0       3000.0  21228.0
regression for  full-stack developer
Mean Squared Error: 41809602102.97
R-squared: 0.05
Mean Absolute Error (MAE): 77252.95
     Country  Education Level     Primary Job Title  Years of Experience  \
1        119                8  qa or test developer                  1.0
43       108                4  qa or test developer                  1.0
93        27                1  qa or test developer                  4.0
118       55                1  qa or test developer                 13.0
140      143                8  qa or test developer                  1.0

     YearsCoding  CompanySize     Salary
1            7.0      10000.0    21426.0
43           1.0      10000.0    26436.0
93           7.0         60.0    11808.0
118         16.0      10000.0    46963.0
140          4.0        300.0  2000000.0
regression for  qa or test developer
Mean Squared Error: 2220527889.18
R-squared: -1.31
Mean Absolute Error (MAE): 37428.52
   Country  Education Level   Primary Job Title  Years of Experience  \
2      141                1  back-end developer                  4.0
3      143                8  back-end developer                  1.0
5       91                3  back-end developer                  1.0
6      126                4  back-end developer                  1.0
8      141                1  back-end developer                  7.0

   YearsCoding  CompanySize    Salary
2          7.0         15.0   41671.0
3         10.0      10000.0  120000.0
5          1.0         60.0       0.0
6          7.0         15.0   47904.0
8         10.0         60.0     420.0
regression for  back-end developer
Mean Squared Error: 33650095078.33
R-squared: 0.06
Mean Absolute Error (MAE): 69139.36
     Country  Education Level                   Primary Job Title  \
4        143                8  c-suite executive (ceo, cto, etc.)
81        44                7  c-suite executive (ceo, cto, etc.)
101      141                1  c-suite executive (ceo, cto, etc.)
102       47                1  c-suite executive (ceo, cto, etc.)
149      141                4  c-suite executive (ceo, cto, etc.)

     Years of Experience  YearsCoding  CompanySize    Salary
4                   22.0         30.0        300.0  250000.0
81                   7.0         10.0          5.0   42836.0
101                  7.0         13.0          5.0   90288.0
102                 16.0         16.0         60.0  122388.0
149                 16.0         19.0         60.0   83342.0
regression for  c-suite executive (ceo, cto, etc.)
Mean Squared Error: 75048893834.01
R-squared: -0.02
Mean Absolute Error (MAE): 121781.26
     Country  Education Level Primary Job Title  Years of Experience  \
10        55                4  mobile developer                  4.0
56        55                4  mobile developer                  4.0
67        55                1  mobile developer                  7.0
77       143                0  mobile developer                  4.0
107      139                4  mobile developer                  1.0

     YearsCoding  CompanySize    Salary
10           4.0        300.0   10958.0
56           4.0       3000.0    9768.0
67          10.0       3000.0   27708.0
77           7.0          5.0  105000.0
107          4.0         60.0   10440.0
regression for  mobile developer
Mean Squared Error: 17623457185.29
R-squared: 0.07
Mean Absolute Error (MAE): 51183.18
    Country  Education Level    Primary Job Title  Years of Experience  \
12      126                4  front-end developer                 13.0
18       55                8  front-end developer                  1.0
39      143                1  front-end developer                  4.0
46      143                1  front-end developer                  7.0
52      141                3  front-end developer                  4.0

    YearsCoding  CompanySize    Salary
12         13.0       3000.0   72611.0
18          1.0         60.0  123984.0
39         10.0        300.0   78000.0
46          7.0         60.0  141625.0
52          4.0        300.0   63896.0
regression for  front-end developer
Mean Squared Error: 71614435441.15
R-squared: 0.02
Mean Absolute Error (MAE): 94267.62
     Country  Education Level    Primary Job Title  Years of Experience  \
14       103                8  engineering manager                  4.0
37        44                4  engineering manager                 10.0
44        55                4  engineering manager                  7.0
108      116                4  engineering manager                  7.0
110       55                1  engineering manager                  4.0

     YearsCoding  CompanySize   Salary
14           4.0         60.0  30000.0
37          16.0      10000.0  52627.0
44           7.0        750.0  34440.0
108         13.0         60.0  46992.0
110          4.0         60.0  26612.0
regression for  engineering manager
Mean Squared Error: 63204250994.90
R-squared: 0.02
Mean Absolute Error (MAE): 95842.99
    Country  Education Level                              Primary Job Title  \
29      143                4  data scientist or machine learning specialist
40      143                8  data scientist or machine learning specialist
59       61                1  data scientist or machine learning specialist
62      103                4  data scientist or machine learning specialist
66      126                4  data scientist or machine learning specialist

    Years of Experience  YearsCoding  CompanySize    Salary
29                  7.0         13.0      10000.0  120000.0
40                  1.0          7.0         60.0  120000.0
59                 10.0         10.0        300.0   30597.0
62                  4.0          4.0         60.0   42348.0
66                  4.0          7.0         15.0   55392.0
regression for  data scientist or machine learning specialist
Mean Squared Error: 41096273024.49
R-squared: 0.01
Mean Absolute Error (MAE): 79546.32
     Country  Education Level                           Primary Job Title  \
49        55                4  embedded applications or devices developer
71         6                1  embedded applications or devices developer
104       47                3  embedded applications or devices developer
142       61                4  embedded applications or devices developer
237       91                1  embedded applications or devices developer

     Years of Experience  YearsCoding  CompanySize   Salary
49                   1.0          4.0          5.0   4696.0
71                   7.0         16.0         60.0  91969.0
104                  4.0         10.0         60.0  11748.0
142                 10.0         13.0        750.0  44060.0
237                  4.0         10.0         15.0  51408.0
regression for  embedded applications or devices developer
Mean Squared Error: 46415510154.11
R-squared: 0.01
Mean Absolute Error (MAE): 61900.38
     Country  Education Level Primary Job Title  Years of Experience  \
72        57                4   product manager                  4.0
73        44                1   product manager                  1.0
82        56                8   product manager                 10.0
103      119                8   product manager                  4.0
186      143                8   product manager                 19.0

     YearsCoding  CompanySize    Salary
72           4.0         15.0    9984.0
73           7.0         60.0   55075.0
82          10.0         60.0   29532.0
103          7.0        300.0   37084.0
186         19.0        750.0  110000.0
regression for  product manager
Mean Squared Error: 72013786710.87
R-squared: 0.04
Mean Absolute Error (MAE): 101166.02
     Country  Education Level                             Primary Job Title  \
95       141                1  desktop or enterprise applications developer
160       44                7  desktop or enterprise applications developer
251      141                1  desktop or enterprise applications developer
371       44                4  desktop or enterprise applications developer
449       47                3  desktop or enterprise applications developer

     Years of Experience  YearsCoding  CompanySize    Salary
95                   7.0         10.0         60.0   62507.0
160                  4.0          4.0      10000.0   37940.0
251                 22.0         22.0          5.0  106956.0
371                  4.0          7.0      10000.0   52321.0
449                  1.0          1.0          5.0    6612.0
regression for  desktop or enterprise applications developer
Mean Squared Error: 57312153354.20
R-squared: -0.07
Mean Absolute Error (MAE): 98140.17
      Country  Education Level Primary Job Title  Years of Experience  \
121        49                2          designer                 10.0
247        55                1          designer                  4.0
577       141                1          designer                 30.0
1658      143                4          designer                  1.0
1738       47                3          designer                  1.0

      YearsCoding  CompanySize    Salary
121          10.0       3000.0  440592.0
247           4.0         15.0    5479.0
577          30.0         60.0   76397.0
1658          4.0         60.0   48000.0
1738          7.0         60.0   24478.0
regression for  designer
Mean Squared Error: 382110553184.24
R-squared: -0.24
Mean Absolute Error (MAE): 286710.46
     Country  Education Level     Primary Job Title  Years of Experience  \
136      141                1  system administrator                  1.0
158      143                4  system administrator                 22.0
191      143                1  system administrator                  4.0
240      143                1  system administrator                  7.0
415      121                4  system administrator                  1.0

     YearsCoding  CompanySize   Salary
136         10.0         60.0  47227.0
158         30.0        300.0  70000.0
191         10.0        300.0  90000.0
240         13.0       3000.0  55000.0
415          4.0        300.0  22030.0
regression for  system administrator
Mean Squared Error: 69758498093.24
R-squared: 0.00
Mean Absolute Error (MAE): 108492.35
     Country  Education Level       Primary Job Title  Years of Experience  \
143      143                4  database administrator                  7.0
339       14                1  database administrator                  4.0
485       83                8  database administrator                  4.0
549      141                1  database administrator                  4.0
628      143                1  database administrator                  4.0

     YearsCoding  CompanySize    Salary
143         10.0      10000.0  140000.0
339          7.0         60.0   30840.0
485          7.0         15.0    4128.0
549          4.0      10000.0   45838.0
628          4.0        300.0   54000.0
regression for  database administrator
Mean Squared Error: 7087167387.68
R-squared: -5.81
Mean Absolute Error (MAE): 64647.60
      Country  Education Level         Primary Job Title  Years of Experience  \
338       143                8  data or business analyst                  1.0
442        44                4  data or business analyst                  4.0
492       143                1  data or business analyst                  1.0
705       143                1  data or business analyst                  1.0
1515      127                4  data or business analyst                  4.0

      YearsCoding  CompanySize   Salary
338           1.0         15.0  30000.0
442           7.0       3000.0  40388.0
492           1.0        300.0  52000.0
705           1.0        750.0  65000.0
1515          7.0        300.0  67775.0
regression for  data or business analyst
Mean Squared Error: 5668922870.98
R-squared: -2.59
Mean Absolute Error (MAE): 62287.37
     Country  Education Level  Primary Job Title  Years of Experience  \
376      141                1  devops specialist                  7.0
378      141                1  devops specialist                  1.0
379      143                4  devops specialist                  4.0
423      127                1  devops specialist                 16.0
440      143                1  devops specialist                 22.0

     YearsCoding  CompanySize    Salary
376         16.0        300.0   79175.0
378          1.0       3000.0   47922.0
379          4.0        300.0  120000.0
423         16.0        750.0   99056.0
440         25.0         60.0  132000.0
regression for  devops specialist
Mean Squared Error: 37230144372.03
R-squared: 0.01
Mean Absolute Error (MAE): 90317.00
      Country  Education Level           Primary Job Title  \
620       143                1  game or graphics developer
824       141                1  game or graphics developer
1726      136                1  game or graphics developer
1995       47                1  game or graphics developer
2200      143                4  game or graphics developer

      Years of Experience  YearsCoding  CompanySize     Salary
620                   4.0         10.0        300.0  1050000.0
824                   1.0          7.0         60.0    26392.0
1726                  1.0          7.0         60.0    12396.0
1995                  1.0          1.0        300.0    17628.0
2200                  1.0          7.0         15.0    65000.0
regression for  game or graphics developer
Mean Squared Error: 75871247582.19
R-squared: -0.02
Mean Absolute Error (MAE): 115407.18
      Country  Education Level                Primary Job Title  \
1700        7                2  educator or academic researcher
2005      141                2  educator or academic researcher
2006       47                2  educator or academic researcher
2309      143                1  educator or academic researcher
3341      109                4  educator or academic researcher

      Years of Experience  YearsCoding  CompanySize    Salary
1700                 19.0         30.0       7500.0   79552.0
2005                  7.0         16.0         60.0  600060.0
2006                  7.0         10.0       3000.0   58746.0
2309                  4.0         13.0      10000.0   14400.0
3341                  4.0         13.0       3000.0   31848.0
regression for  educator or academic researcher
Mean Squared Error: 3129254785.88
R-squared: 0.15
Mean Absolute Error (MAE): 42673.50
       Country  Education Level Primary Job Title  Years of Experience  \
2380       127                1           student                  1.0
3527        55                1           student                  1.0
6251       109                1           student                  1.0
13262       24                8           student                  1.0
13535       47                8           student                  4.0

       YearsCoding  CompanySize   Salary
2380           1.0         15.0  10632.0
3527           4.0       7500.0  12524.0
6251           4.0        750.0  11892.0
13262         10.0        300.0  36000.0
13535         10.0        750.0   5880.0
regression for  student
Mean Squared Error: 4789500351198.44
R-squared: -23.33
Mean Absolute Error (MAE): 1492425.44
       Country  Education Level                Primary Job Title  \
14988      143                1  marketing or sales professional

       Years of Experience  YearsCoding  CompanySize    Salary
14988                 10.0         10.0        750.0  130000.0

In [ ]:
df.head()

,Country,Education Level,Primary Job Title,Years of Experience,YearsCoding,CompanySize,Salary
0,141,1,full-stack developer,19.0,30.0,10000.0,70841.0
1,119,8,qa or test developer,1.0,7.0,10000.0,21426.0
2,141,1,back-end developer,4.0,7.0,15.0,41671.0
3,143,8,back-end developer,1.0,10.0,10000.0,120000.0
4,143,8,"c-suite executive (ceo, cto, etc.)",22.0,30.0,300.0,250000.0

In [ ]:
# Calculate correlation
correlation_matrix = df.corr()

# Display correlation with target
print(correlation_matrix['Salary'])

ValueError: could not convert string to float: 'full-stack developer'

In [ ]:
x=df.drop(columns= ['Salary','Education Level'],axis=1)
y=df['Salary']

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.15, random_state=42)

In [ ]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import make_pipeline
degree = 2  # You can change the degree to fit your needs
polynomial_features = PolynomialFeatures(degree=degree)

model = make_pipeline(polynomial_features, LinearRegression())

model.fit(x_train, y_train)

y_pred = model.predict(x_test)

from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
# Calculate Mean Absolute Error (MAE)
mae = mean_absolute_error(y_test, y_pred)
print(f"Mean Squared Error: {mse:.2f}")
print(f"R-squared: {r2:.2f}")
print(f"Mean Absolute Error (MAE): {mae:.2f}")

In [ ]:
lereg = LinearRegression()
lereg.fit(x_train, y_train)

In [ ]:
y_pred = model.predict(x_test)

from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
# Calculate Mean Absolute Error (MAE)
mae = mean_absolute_error(y_test, y_pred)
print(f"Mean Squared Error: {mse:.2f}")
print(f"R-squared: {r2:.2f}")
print(f"Mean Absolute Error (MAE): {mae:.2f}")

In [ ]:
x_draw = df['Years of Experience'][0:100]
y_draw = df['Salary']
plt.scatter(x_draw, y_draw)
plt.xlabel('Years of Experience')
plt.ylabel('Salary')
plt.title('Scatter Plot of Years of Experience vs. Salary')
plt.show()

In [ ]:
print(df['Primary Job Title'].unique())
print(df['Country'].unique())